*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.clear{
    clear: both;
}
header{
    padding: 18px 0px;
}
.container{
    width:90%;
    margin: 0 auto;
}

header .logo{
    width: 50%;
    float: left;
}

header .menu{
    width: 50%;
    float: right;
}

header .menu nav ul li{
    float: right;
    margin: 0px 18px;
}

header .menu nav ul li a{
    font-size: 14px;
}


/* hero section */
.hero{
    background-image: url('../images/mac.jpg');
    width:100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.hero .hero-content{
    padding: 150px 0px;
}
.hero .hero-content h1{
    color: white;
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 40px;
}

.hero .hero-content p{
    color: white;
    margin-bottom: 35px;
}

.hero .hero-content button{
    padding: 15px 30px;
    background-color: #fff;
    opacity: 0.5;
    border: none;
    font-size: 18px;
    font-weight: 300;
}

/* about-section */
.about {
    width: 100%;
    text-align: center;
    margin: 40px 0px;
}

.about-row {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.about-content1 {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content1 .fa-solid {
    font-size: 40px;
    margin-bottom: 20px;
}

.about-content1 h2 {
    font-size: 22px;
    margin-bottom: 20px;
}
.about-content1 h4 {
    font-size: 22px;
    margin-bottom: 15px;
}

.about-content1 p {
    font-size: 15px;
}

/* design-section */
.design {
    background-color: gainsboro;
    margin: 50px 0;
    width: 100%;
    height: 400px;
    display: flex;             
    align-items: center;          
}

.design .contain {
    width: 50%;
    text-align: left;
    padding: 0 40px;
}

.design .contain h2 {
    margin-bottom: 10px;
}

.design .contain p {
    margin-top: 40px;
    font-size: 15px;
}

.design .img {
    width: 50%;
    text-align: center;
}

.design .img img {
    width: 80%;
    height: auto;
    border-radius: 8px;
}

/* team */
.team{
     width: 100%;
    text-align: center;
}

.team1{
    display: flex;
    margin: 40px 40px;
    gap: 6px;
    
}

.team1 .img{
    text-align: left;
    margin: 8px;
    border: 2px solid #888888;
    /* box-shadow: #333; */
    box-sizing: border-box;
    box-shadow: 1px 1px #888888;
}

.team1 .img1{
    text-align: left;
    margin: 8px;
    border: 2px solid #888888;
    box-sizing: border-box;
    box-shadow: 1px 1px #888888;
}

.team1 .img2{
    text-align: left;
    margin: 8px;
    border: 2px solid #888888;
    /* box-shadow: #333; */
    box-sizing: border-box;
    box-shadow: 1px 1px #767676;
}

.team1 .img3{
    text-align: left;
    margin: 8px;
    border: 2px solid #888888;
    /* box-shadow: #333; */
    box-sizing: border-box;
    box-shadow: 1px 1px #888888;
}

.team1 h2 {
    /* margin: 10px; */
        padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.team1 p{
     padding-bottom: 10px;
    padding-left: 10px;
}
.team1 button{
    width: 90%;
    padding: 10px;
    border:0px solid #333;
    margin:0px 15px;
    margin-bottom: 10px;

}
.btn{
    padding: 0px 10px;

}

.t p{
    color: #888888;
}

/* box */
.box{
    background-color: grey;
    height: 100px;
    width: 100%;
    margin: 80px 0px;
      display: flex;
    /* justify-content: space-around;  */
    align-items: center;
    text-align: center;
}

.box .box1{
      flex:1;
      color:white;

}

/* work */
.work{
     width: 100%;
    text-align: center;
    gap:10px
    /* margin: 50px 0px; */
}

.work h2{
    /* margin: 20px 10px; */
    font-size: 30px;
}

.work p{
    margin: 20px 0px;
}

.work1{
    padding: 0px 0px;
}

.work .work1{
     display: flex;
    float: right;
    margin: 2px;
}

/* skills */
.skill{
    background-color: gainsboro;
    margin : 50px 0px;
     width: 100%;
    height: 400px;
}

.skill1{
    width: 50%;
    float: left;
    padding: 100px 0px;
    /* padding: 100px 40px; */
}

.skill1 h2 {
    padding: 8px 40px;
    font-size: 30px;
}

.skill1 p{
    font-size: 14px;
    padding: 0px 40px;
}

.skill2{
    width: 50%;
    float: right;
    /* text-align: left; */
    padding: 10px 30px;

}
.skill2 .fa-solid{
    padding: 10px;
}

.skill2 h3 {
    letter-spacing: 4px;
    font-size: 14px;
    font-weight: normal;
    /* margin-bottom: 8px; */
}

.photo {
    height: 30px;
    background-color: #bfbfbf;
    margin: 20px;
}

.photo .progress-fill {
       height: 100%;
    background: #666;
    color: white;
    text-align: center;
}

/* PRICINGsection */
.Pricing{
    padding: 100px;
    background-color: #616161;
}

.price{
    width: 100%;
    padding: 14px;
    text-align: center;
}

.price h2 p{
    font-size: 14px;
}

.main{
    align-content: center;
    padding: 0px 8px;
}

/* list1 */
.basic{
    background-color: #120f0f;
    color: white;
    align-content: center;
    padding-left: 170px;
    height: 80px;
}

.list{
    width: 30%;
    border: 2px solid #666;
    background-color: #fff;
    align-content: center;
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
  
}

.list ul li{
    padding: 10px 0px;
   text-align: center;
}

/* list2 */
.basic1{
   background-color: #f44336;
    color: white;
    align-content: center;
    padding-left: 170px;
    height: 80px;
}

.list1{
    width: 30%;
    border: 2px solid #666;
    background-color: #fff;
    align-content: center;
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

.list1 ul li{
    padding: 10px 0px;
   text-align: center;
}

/* list3 */
.basic2{
   background-color: #131010;
    color: white;
    align-content: center;
    padding-left: 170px;
    height: 80px;
}

.list2{
     width: 30%;
    border: 2px solid #666;
    background-color: #fff;
    align-content: center;
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

.list2 ul li{
   padding: 10px 0px;
   text-align: center;
}

.btn1{
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 10px;
    align-items: center;

}

/* contact section */
.contact{
    padding: 100px 0px;
}

.content{
    padding: 80px;
}

.content h2{
    width: 100%;
    text-align: center;
    padding: 10px;
}

.content p{
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.icon p{
    width: 100%;
    text-align: left ;
    padding: 10px 0px;
}

.icon .fa-solid{
   padding-right: 30px;
}

.border{
    text-align: left ;
}











